<section>
    <div class="imgBx">
        <img src="https://images.pexels.com/photos/4431922/pexels-photo-4431922.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500" alt="">
    </div>
    <div class="contentBx">
        <div class="formBx">
            <h2>Recover password</h2>
            <form class="login-form" [formGroup]="passForm" (ngSubmit)="onPass()">
                <div class="inputBx">
                    <span>Correo</span>
                    <input type="text" id="email" name="email" placeholder="Correo electrónico" class="form-control" formControlName='email'>
                    <div class="alert alert-danger  animated fadeIn" *ngIf=" email.invalid && (email.dirty || email.touched) ">
                        <div class="container-error-message" *ngIf="email.errors.required">
                            El correo es obligatorio
                        </div>
                        <div class="container-error-message" *ngIf="email.invalid && email.errors.pattern">
                            El correo no es válido
                        </div>
                    </div>
                </div>


                <div class="inputBx">
                    <input type="submit" [disabled]=" !passForm.valid " value="Continuar">

                </div>
                <div class="inputBx">
                    <p>Volver?<a href="#" [routerLink]="['/auth/login']">Login</a> </p>
                </div>


            </form>
        </div>
    </div>
</section>